
.navbar .nav-item .active {
    color: #fff; 
    border: orange;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    border-top: none;
    border-right: none;
  }

  .navbar .nav-item .nav-link {
    color: #fff; 
 
  }

body {
  overflow-x: hidden;
}


  /*  */
  .card-content {
    position: relative;
    perspective: 1000px;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
    display: none;
  }
  
  .card-content.is-flipped .card-front {
    transform: rotateY(180deg);
    display: none;
  }
  
  .card-content.is-flipped .card-back {
    transform: rotateY(0deg);
    display: block;
  }

  @media (max-width: 767px) {
    .card-content {
      perspective: inherit;
    }
    .card-front,
    .card-back {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }
    .card-front {
      transform: rotateY(0deg);
    }
    .card-back {
      transform: rotateY(180deg);
      display: none; /* hide back side by default */
    }
    .card-content.is-flipped .card-front {
      transform: rotateY(180deg);
    }
    .card-content.is-flipped .card-back {
      transform: rotateY(0deg);
      display: block; /* show back side when flipped */
    }
    
  .navbar .nav-item .nav-link {
    text-align: center;
 
  }

   .display-3 {
    font-size: 50px;
    }

    .display-2{
    font-size: 50px;
  }
}
  
  /*  */
  .Btn_Weather {
    border: #0f4c5c;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 25%;
  }
  .btn .btn-primary :hover {
    background-color: orange;
  }
  
  .slogan h2 {
    overflow: hidden;
    white-space: nowrap;
    animation: slide-in 1.5s ease-in forwards;
  }

  @keyframes slide-in {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.glow-card {
  background-color: #0f4c5c;
  border-color: orange;
  border-width: 2px;
  animation: blink 1s infinite alternate, storm 1s infinite linear;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 10px 5px transparent;
  }
  100% {
    box-shadow: 0 0 10px 5px gold;
  }
}

@keyframes storm {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px); /* Adjust the distance of the storm effect */
  }
}


/* mouse hover */
/* Define the styles for the animated element */
.animated-element {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0f4c5c;
  border-radius: 50%;
  pointer-events: none; /* Ensure the element doesn't interfere with mouse events */
  animation: scaleUp 0.3s ease infinite;
}

@keyframes scaleUp {
  0% {
      transform: scale(0);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.flip-span {
  color: lime; 
  font-size: 18px; 
  background-color: #0f4c5c;
}

/*  */
/* Define the animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply animation to the row on hover */
.clickable-row:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
}


/*  */
.card .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  transition: opacity 0.3s;
}

.card:hover .overlay-text {
  display: flex;
}

.hidden-text {
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .hidden-text {
  opacity: 1;
}

